<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">

<dom-module id="x-search-input">

  <template>

    <style>
      :host {
        display: block;
        padding: 10px;
      }

      paper-input[type="search"] {
        /* hide underline in all states */
        --paper-input-container-underline: {
          display: none;
        };
        --paper-input-container-underline-disabled: {
          display: none;
        };
        --paper-input-container-underline-focus: {
          display: none;
        };

        --paper-input-prefix: {
          margin-right: 10px;
          opacity: 0.5;
        };

        --paper-input-container-color: rgba(255,255,255,0.7);
        --paper-input-container-input-color: white;
      }
    </style>

    <paper-input type="search" label="Search" no-label-float>
      <div prefix>
        <iron-icon icon="icons:search"></iron-icon>
      </div>
    </paper-input>
  </template>

  <script>

    Polymer({

      is: 'x-search-input'

    });

  </script>

</dom-module>
