<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="x-datastamp.html">
<link rel="import" href="x-organizers.html">
<link rel="import" href="x-watch-button.html">

<dom-module id="x-summary-bar">

  <template>

    <style include="iron-flex iron-flex-alignment">
      :host {
        display: block;
      }

      ::content h1 {
        font-size: 16px;
        margin: 12px 0;
        color: #212121;
      }

      x-datastamp {
        margin: 10px;
      }

      x-organizers {
        margin: 10px;
      }

      x-watch-button {
        height: 50px;
        width: 130px;
        margin: 10px;
      }

      .divider {
        border-left: solid 1px lightgray;
        margin: 20px;
        height: 80%;
      }

      .summary-bar {
        height: 100%;
        padding: 0 3em;
        background: white;
        align-items: center;
      }

      .summary-bar h2 {
        font-size: 2.5em;
        font-weight: normal;
        margin: 0;
      }

      .summary-bar paper-icon-button {
        border: solid 1px gray;
        border-radius: 3px;
        height: 50px;
        width: 50px;
        margin: 7px;
        opacity: 0.5;
      }

      .summary-bar paper-icon-button:hover {
        opacity: 1;
      }

      @media(max-width: 1400px) {
        x-organizers {
          display: none;
        }
      }

      @media(max-width: 1075px) {
        x-datastamp {
          display: none;
        }
      }

      @media(max-width: 910px) {
        .divider,
        #share-btn {
          display: none;
        }

        #delete-btn {
          margin: 0;
        }
      }

      @media(max-width: 730px) {
        h2.event-title {
          text-align: center;
        }

        #delete-btn,
        x-watch-button {
          display: none;
        }
      }
    </style>

    <section class="summary-bar layout horizontal wrap">
      <h2 class="event-title flex">
        <iron-icon icon="icons:event"></iron-icon>
        [[eventName]]
      </h2>

      <x-organizers></x-organizers>

      <x-watch-button icon="icons:autorenew" label-off="Snapshot" label-on="Live"></x-watch-button>
      <x-datastamp timestamp="2016-07-04T01:20Z"></x-datastamp>

      <div class="divider"></div>

      <paper-icon-button id="delete-btn" alt="Delete event" on-tap="_onDelete" icon="icons:delete"></paper-icon-button>
      <paper-icon-button id="share-btn" alt="Share event" on-tap="_onShare" icon="social:share"></paper-icon-button>
    </section>
  </template>

  <script>
    Polymer({
      is: 'x-summary-bar',
      properties: {
        eventName: {
          type: String,
          value: 'Event Name Lorem Ipsum'
        }
      },

      _onDelete: function() {
        this.fire('x-delete');
      },

      _onShare: function() {
        this.fire('x-share');
      }
    });
  </script>
</dom-module>
